4 lines (13 sloc) 247 Bytes
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# mida reposse ei lükka
cypress.env.json
.env
/node_modules